<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Admin">Trang quản trị</a>
        </div>

        


        <ul _ngcontent-kvi-c9="" class="nav navbar-nav navbar-right">
            <li _ngcontent-kvi-c9=""><a _ngcontent-kvi-c9="" routerlink="dang-nhap" ng-reflect-router-link="dang-nhap" href="/dang-nhap"></a></li></ul>
       <ul class="nav navbar-right top-nav">
        
              
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Đăng xuất</a>
                        </li>
                    </ul>
           
        <!-- /.navbar-top-links -->
    </nav>
   
 
    <aside class="sidebar navbar-default" role="navigation" style="
    margin-top: 0px;">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav" id="activeMenu">
            <li class="active">
                <a href="/Admin"><i class="fa fa-fw fa-dashboard"></i> Tổng quan</a>
            </li>
            <li>
                <a href="/nhan-vien"><i class="fa fa-fw fa-user"></i> Nhân Viên</a>
            </li>
            <li>
                <a href="/phong-ban"><i class="fa fa-tasks"></i> Phòng ban</a>
            </li>
            <li>
                <a href="/luong"><i class="fa fa-money"></i> Lương nhân viên</a>
            </li>
            
            
        </ul>
    </div></aside>
               
 

<div class="row" style=" margin: 15px 60px 60px 15px; width: auto ; ">
   
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Nhân viên</h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i> <a href="/Admin">Tổng quan</a>
                            </li>
                            <li>
                                <i class="fa fa-user"></i> 
                                Nhân viên
                            </li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
        <table class="table" >
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã NV</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of nhanviens; let i = index ">
                <td scope="row" >{{i +1}}</td>
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>
                  
                    <a href="" class="btn btn-sm btn-danger">Xóa</a>
                    <a href="" class="btn btn-sm btn-primary">Sửa</a>
                </td>
            </tr>
            <td></td>
            <td></td>
        </tbody>

        </table>        
    
</div>
</div>     

       