

<nav class="navbar navbar-inverse">
  
  <div class="container">
    <a class="navbar-brand" href="#">Quản lý nhân sự</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#">Trang chủ</a>
    </li>
   
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Đăng nhập</a></li>
</ul>
  </div>
  
</nav>
<div class="container body-content">

  <hr />
  <footer class="">
      <p>&copy; 2023 - Quản lý nhân sự</p>
      <p>Võ Nguyên Hào</p> 
      <p>Lê Thái An</p>
      <p>Nguyễn Đức Huy</p>
  </footer>
</div>


