
<div class="container">
    <div class="row" style=" margin: 60px 150px 60px 150px;">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span><i class="glyphicon glyphicon-log-in"></i> </span>Login</h3>
                </div>
                <div class="panel-body" style="text-align: -webkit-center;">
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm)">
        <h2 class="login-title">Đăng nhập</h2>
        <div class="form-group has-feedback">
            <label class="control-label col-md-3 col-sm-3">Tài khoản </label>
            <div class="col-sm-9">
            <input class="form-control" type="text" placeholder="Username" name="email" formControlName="username"/>
                </div>
            <div class="error" *ngIf="loginForm.touched || loginForm.dirty">
              <ng-container *ngIf="loginForm.get('username')?.errors && loginForm.get('username')?.errors?.['required']">
                  Phải nhập tài khoản
              </ng-container>
          </div>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3">Mật khẩu </label>
            <div class="col-sm-9">
            <input class="form-control" type="password" placeholder="Password" name="psw" formControlName="password" />
                </div>
            <div class="error" *ngIf="loginForm.touched || loginForm.dirty">
              <ng-container *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.errors?.['required']">
                  Phải nhập mật khẩu
              </ng-container>
          </div>
        </div>
        <div class="col-sm-offset-3 col-sm-8">
        <button class="btn btn-primary" type="submit">
            <span>
                <i class="glyphicon glyphicon-log-in"></i>
            </span> Đăng nhập
        </button>
        <p class="error" *ngIf="message">{{message}}</p>
        </div>
    </form>
  </div>