<div class="row" style=" margin: 60px 150px 60px 150px;">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span><i class="glyphicon glyphicon-log-in"></i> </span>Login</h3>
            </div>
            <div class="panel-body" style="text-align: -webkit-center;">
                <form class="form-horizontal" method="post" role="form" action="">

                    <input name="__RequestVerificationToken" type="hidden" value="cVi1x7E1BaS6G_pPWr0LaRFlYH2tUTqs7Rk8A-23LQmq9GH5OsrVBxdTR1ysAVh1gRTEUxEgb3_ADqtt6AIDtPjU8E9MtI7OOx31Z7Y2aRc1">
                    
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-3 col-sm-3">Tài khoản </label>
                        <div class="col-md-9 col-sm-9">
                            <input class="form-control" name="MaNhanVien" placeholder="Tài khoản" autofocus="" required="" fdprocessedid="x50gs">

                        </div>
                    </div>
                    
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Mật khẩu </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="password" name="MatKhau" placeholder="Mật khẩu" fdprocessedid="s7ft59">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-primary" fdprocessedid="4a35dh">
                                <span>
                                    <i class="glyphicon glyphicon-log-in"></i>
                                </span> Đăng nhập
                                
                            </button>
                        </div>

                    </div>
                    <span class="text-danger"> </span>
                </form>

            </div>
        </div>
    </div>
</div>